<?xml version='1.0' encoding='utf-8'?>
<plugin id="br.wladscript.qrcodescanner" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>QRCodeScanner</name>

    <description>A simple and lightweight QRCode scanner for cordova apps. For a more complex solution, please take a look at:
        https://github.com/phonegap/BarcodeScanner
    </description>
    <js-module name="QRCodeScanner" src="www/QRCodeScanner.js">
        <clobbers target="cordova.plugins.qrcodeScanner"/>
    </js-module>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>  
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="QRCodeScanner">
                <param name="android-package" value="br.wladscript.QRCodeScanner"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/QRCodeScanner.java"
                     target-dir="src/br/wladscript/QRCodeScanner"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="QRCodeScanner">
                <param name="ios-package" value="CDVQRCodeScanner" />
            </feature>
        </config-file>

      	<framework src="QuartzCore.framework" />
        
        <header-file src="src/ios/QRCameraSwitchButton.h" compiler-flags="&quot;-std=gnu99 -fmodules&quot;" />
        <header-file src="src/ios/QRCodeReader.h" compiler-flags="&quot;-std=gnu99 -fmodules&quot;" />
        <header-file src="src/ios/QRCodeReaderDelegate.h" compiler-flags="&quot;-std=gnu99 -fmodules&quot;" />
        <header-file src="src/ios/QRCodeReaderView.h" compiler-flags="&quot;-std=gnu99 -fmodules&quot;" />
        <header-file src="src/ios/QRCodeReaderViewController.h" compiler-flags="&quot;-std=gnu99 -fmodules&quot;" />

        <source-file src="src/ios/CDVQRCodeScanner.m" compiler-flags="&quot;-std=gnu99 -fmodules&quot;"/>
        <source-file src="src/ios/QRCameraSwitchButton.m" compiler-flags="&quot;-std=gnu99 -fmodules&quot;"/>
        <source-file src="src/ios/QRCodeReader.m" compiler-flags="&quot;-std=gnu99 -fmodules&quot;"/>
        <source-file src="src/ios/QRCodeReaderView.m" compiler-flags="&quot;-std=gnu99 -fmodules&quot;"/>
        <source-file src="src/ios/QRCodeReaderViewController.m"  compiler-flags="&quot;-std=gnu99 -fmodules&quot;"/>
    </platform>
</plugin>